<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    Thank you, I'm finally a free LTI tool
    <br/>
    <b> Here is some basic information for you</b>
    <table>
        <tr>
            <th><b>Key</b></th>
            <th><b>Value</b></th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td>User UUID</td>
            <td>{{ user_uuid }}</td>
        </tr>
        <tr>
            <td>User BatchUID</td>
            <td>{{ user_batch_uid }}</td>
        </tr>
        <tr>
            <td>Course ID</td>
            <td>{{ course_id }}</td>
        </tr>
        <tr>
            <td>Course Title</td>
            <td>{{ course_title }}</td>
        </tr>
        <tr>
            <td>Course UUID</td>
            <td>{{ course_uuid }}</td>
        </tr>
        <tr>
            <td>Course BatchUID</td>
            <td>{{ course_batch_uid }}</td>
        </tr>
    </table>

</body>
</html>
